*{
    margin: 0;
    padding: 0;
}
body{
    background: #ccc;
    font-family: "黑体", sans-serif;
    margin: 0 auto;
}
.wrap{
    width: 980px;
    height: 1386px;
    background: #FFF;
    margin: 0 auto;
}
.top{
    width: 892px;
    height: 61px;
    background: #fff;
    margin: 0 auto;
    border-bottom: 2px solid #938e8c;
    font-size: 12px;
}
.top_logo{
    width: 110px;
    height: 61px;
    background: #d45d5c;
    display: inline-block;
}
.top_logo span{
    float: left;
    margin-top: 45px;
    margin-left: 5px;
    color: #FFF;
}
.top_time{
    float: right;
    margin-top: 45px;
    color: #d45d5c;
}
.mid{
    margin:44px;
    background: #ccc;
}
.mid_left{
    position: relative;
    float: left;
}
.cover_left{
    width: 191px;
    height: 301px;
    background: green;
    opacity: 0.20;
    position: absolute;
    top:0;
}
.cover_right{
    width: 191px;
    height: 301px;
    background: red;
    opacity: 0.20;
    position: absolute;
    top:0;
    right: 0;
}
.mid_right{
    position: relative;
    float: right;
    width: 203px;
    height: 301px;
    background: #fff;
}
.mid_right hr{
    height: 2px;
    background: #CC8091;
}
.about{
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 24px;
    color: #000;
    line-height: 40px;
    text-decoration: underline;
    text-transform: capitalize;
    font-variant: small-caps;
}
.small{
    font-size: 12px;
    font-family: "楷体", serif;
    color: #676767;
    line-height: 10px;
    font-style: oblique;
}
.seven{
    font-size: 116px;
    font-family: "Microsoft YaHei", serif;
    color: #75b86b;
    font-style: oblique;
    margin-left:-18px;
}
.num{
    font-size: 55px;
    font-family:"Microsoft YaHei", serif;
    color: #cc8091;
    margin-top: -15px;
}
.text_1{
    font-size: 21px;
    font-family:"Microsoft YaHei", serif;
    color: #cc8091;
    position: absolute;
    bottom: 10px;
    left:85px;
}
.text_2{
    font-size: 12px;
    color: #ccc;
    font-family:"Microsoft YaHei", serif;
    position: absolute;
    bottom: 0;
    left: 85px;
}
.mid_text{
    clear: both;
    width:888px;
    margin: 44px 0;
    float: left;
    overflow: auto;
    background: #fff;
}
.mid_text_left{
    width: 255px;
    float: left;
    margin-right: 20px;
}
.mid_text_mid{
    width: 226px;
    float: left;
    margin-right: 20px;
}
.mid_text_right{
    width: 155px;
    float: left;
    margin-right:20px;

}
.what{
    font-size: 16px;
    font-family:"Microsoft YaHei", serif;
    color: #418c59;
    font-weight: bold;
    text-decoration: underline;
    height: 28px;
    cursor: pointer;
}
.when{
    font-size: 16px;
    font-family:"Microsoft YaHei", serif;
    color: #d2994f;
    font-weight: bold;
    text-decoration: underline;
    height: 28px;
    cursor: pointer;
}
.how{
    font-size: 16px;
    font-family:"Microsoft YaHei", serif;
    color: #cc7680;
    font-weight: bold;
    text-decoration: underline;
    height: 28px;
    cursor: pointer;
}
.mid_text_left p{
    font-size: 12px;
    font-family: "宋体", serif;
    color: #767777;
    line-height: 16px;
    letter-spacing: 1px;
}
.mid_text_mid p{
    font-size: 12px;
    font-family: "Microsoft YaHei", serif;
    color: #231815;
    line-height: 16px;
    opacity: 0.7;
    letter-spacing: 1px;
}
.mid_text_right p{
    font-size: 12px;
    font-family: "Microsoft YaHei", serif;
    color: #231815;
    line-height: 20px;
    margin-bottom: 24px;
    letter-spacing: 1px;
}

ul{
    list-style: none;
    font-size: 12px;
    color: #231815;
    line-height:16px;
    font-family:"Microsoft YaHei",serif;
}
li{
    margin-bottom:5px;
}
.mid_text_right ul li span{
    font-size: 12px;
    color: #cd4a48;
    font-style: oblique;
    line-height: 16px;
    opacity: 0.7;
}
.clear{
    clear: both;
}
.bot{
    width: 892px;
    height: 657px;
    margin: 0 auto;
}
.left{
    float: left;
    width: 415px;
}
.right{
    width: 459px;
    float: right;
}
.left_up{
    border-bottom: 2px solid #11456b;

}
.left_up p{
    font-family:"黑体", serif;
    font-weight: bold;
    font-size: 42px;
    color: #11456b;
    line-height: 50px;
}
.left_up .the{
    font-size: 72px;
    font-weight: bold;
    font-style: oblique;
    color: #f5e327;
}
.left_up .title{
    font-size: 33px;
}
.left_down{
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
}
.left_down .sp{
    float: left;
    font-size: 70px;
    color: #f5e327;
    font-family: "Microsoft YaHei", serif;
    line-height: 70px;
}
.text p{
    font-size: 12px;
    font-family: "宋体", serif;
    color: #767777;
    line-height: 16px;
}
.text .p2{
    text-indent: 2em;
}
.text .p3{
    text-indent: 2em;
}
.left_down .img {
    float: right;
    margin: 12px 0 12px 12px;
}
.right{
    width: 458px;
    height: 637px;
    float: right;
}
.right_img{
    width: 458px;
    height: 275px;
    position: relative;
}
.rim_text{
    position: absolute;
    bottom:0;
    width: 458px;
    height: 61px;
    background-color: rgba(0,0,0,0.3);

}
.rim_text p{
    font-size: 26px;
    color: #fff;
    font-family: "Microsoft YaHei", serif;
    margin-left:50px;
    line-height: 44px;
    border-left:3px solid #72b16a;
    height: 44px;
    margin-top:10px;
    text-indent: 0.5em;
}
.rim_text p span{
    font-size: 12px;
    color: #72b16a;
    font-style: oblique;
    line-height: 140%;
    margin-left: 5px;
}
.r_text{
    width: 459px;
    height: 318px;
    background: #eeeed6;
    margin-top: 36px;
    position: relative;
}
.r_text_1 ul li .triangle{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:10px solid #10456b;
    display: inline-block;
}
.r_text_1 ul li{
    font-size: 16px;
    color: #5a5b5b;
    font-family: "宋体", serif;
    line-height:20px;
    text-align: left;
    margin-left: 30px;
    padding-top:20px;
}
.tips{
    font-size: 12px;
    font-family: "黑体", serif;
    font-style: oblique;
    line-height: 20px;
    color: #5a5b5b;
    text-align: right;
}
.r_text_2{
    width: 260px;
    height: 160px;
    background: #d45c5b;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
}
.zero{
    font-size: 110px;
    font-family: "微软雅黑", serif;
    color: #fff;
    border-right: 2px solid #fff;
    line-height: 86px;
    float: left;
    padding: 0 2px;
    margin:37px 10px;

}
.nums{
    margin-top: 37px;
    font-size: 21px;
    font-family: "黑体", serif;
    color: #FFF;
    font-style: oblique;
    line-height: 26px;
}
.hello{
    font-size: 12px;
    font-family: "黑体", serif;
    color: #fff;
    line-height: 12px;
}
.r_text_3{
    font-size: 14px;
    color: #5a5b5b;
    font-family: "黑体", serif;
    font-style: oblique;
    line-height: 16px;
    text-indent: 3em;
    position: absolute;
    right: 0;
    bottom:0;
    width: 178px;
    height:160px;
    margin-right: 10px;
}
.r_text_3 p{
    display: inline-block;
    position: relative;
    right: 35px;
    top: 20px;
}
.r_text_3 span{
    font-size: 72px;
    color: #d45d5c;
    font-family: "黑体", serif;
    line-height:30px;
}
.pu_left{
    position: absolute;
    bottom: 58px;
    right: 145px;
    font-style: normal;
}
.pu_right{
    position: absolute;
    bottom:-38px;
    right: -25px;
    font-style: normal;
}
footer{
    clear: both;
    margin: 0 auto;
    width: 892px;
    height: 59px;
    border-top: 1px solid #938e8c;
}
footer p {
    float: right;
    font-size: 12px;
    font-family: "黑体", serif;
    color: #d45d5c;
}