body{
    margin: 0;
    padding: 0;
}
.main{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    margin:auto;
    width: 400px;
    height: 200px;
    background: #ccc;
}
.lt {
    position: absolute;
    top: 0;
    left: 0;
    border-radius:0 0 50px 0;
    width: 50px;
    height: 50px;
    background: #fc0;
}
.rb {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50px 0 0 0;
    width: 50px;
    height: 50px;
    background: #fc0;
}